*{
    background-color: blueviolet;
    color: aliceblue;
}

p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px steelblue solid;
}